/.idea
/.vscode
/data_gen_24_bus6_CV
/data_gen_24_bus6_sigma
/data_gen_24_bus118
/data_gen_24_bus118_ifr
/data_gen_bus6_24
/ifr_data
*.csv
*.txt
*.pkl
*.log
*.ipynb
*.png
*.pth
*.lp
*.ilp
*.mps
*.pyc
*.pyc*



