/data_gen_24_bus118_ifr/train_data/cut_csv/
/data_gen_24_bus118_ifr/train_data/cut_pkl/
/data_gen_24_bus118_ifr/train_data/cut_processed_csv/
/data_gen_24_bus118_ifr/train_data/cut_processed_pkl/
/data_gen_24_bus118_ifr/train_data/fig/
/data_gen_24_bus118_ifr/train_data/LB_obj_list/
/data_gen_24_bus118_ifr/train_data/log/
/data_gen_24_bus118_ifr/train_data/scenarios/
/data_gen_24_bus118_ifr/train_data/time.txt
